input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.qr-code {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
	margin-top : 20px;
}

.photo-content {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}


