input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

 
input[type=number]{ 
-moz-appearance: textfield; 
}
.auction-search-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}


.endDate-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.lift-capacity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}
.meter-filter{
    display: none;
}
.meter-filter.visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.length-filter{
    display: none;
}
.length-filter.visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

#auction-management-table{
    width: 100%;
}

#auction-management-table tbody button{
    margin: 2px;
}
#pdfModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}
#auction-table{ 
    padding:   0px 5px;
    background: white;
    margin: 0 auto;
}
#auction-table > thead{
    display: none;
}

#auction-management-table thead tr th{
    text-align: center;
}

#auction-table>tbody tr td{
    color: white;
    /* background: #fff; */
}
.item-index{
    font-size: 13px;
    color: #444040;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.item-info-index{
    font-size: 14px;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.item-content{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777777;
}

.auction-table tr td{
  white-space: normal;
}

.item-info-content{
    font-size: 14px;
    font-weight: 800;
    color: white;
}

textarea.item-info-content{
    font-size : 14px;
    font-weight: 800;
    color : white;
    background-color: rgb(40, 43, 47);
    width: 350px;
    border-width: 0px;
    height: 70px;
}

.table-pdf{  
    padding: 5px 0;  
    position : relative;
}
#auction-table_info{
  padding-top: 0;
}

.detail-box{
    display: flex;
    padding: 15px 15px;
    justify-content: space-around;
    align-items: flex-start;
}
.detail-photo{
    width: 250px;
    height: 170px;    
    display : flex;
    align-items: center;
    flex-direction: column;
}
.detail-info-box{
    width: 300px; 
}
.edit-photo{
    width: 250px;
    height: 170px;     
    display : flex;
    align-items: center;
    flex-direction: column;   
}
.edit-info-box{
    width: 450px; 
}

#detailModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}

#editModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}
.item-edit-item-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.item-edit-index{
    font-size: 13px;
    color: lightgray;
}

.item-edit-item-box input {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 250px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.item-edit-item-box div {
    padding: .375rem .75em;
    width: 250px;
  
}
.item-edit-item-box textarea{
    height: 100px;
    box-shadow: none;
    background-color: lightgray;
    font-size: 14px;
    color: black;
    border-color: rgb(57, 61, 66);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    width: 250px;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table-responsive{
    position: relative;
}
#loading{
    width: 50px;
    height: 50px;
}

.photo-cell{
    width: 180px;
    height: 120px;
    position: relative;  
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center; 
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    cursor: pointer;
}

.auction-photo{
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.ribbon1{
    position: absolute;
    z-index: 0;
    top:0;
    left: 0;
    width: 42x;
    height: 60px;
    visibility: hidden;
}

.ribbon2{
    position: absolute;
    z-index: 0;
    top:0;
    right: 1px;
    width: 120px;
    height: 38px;
    visibility: hidden;
}

#pdfModal .modal-photo-cell {
    width: 320px;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

#publishModal .modal-photo-cell{
    width: 440px;
    height: 230px;
    position: relative;   
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;   
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.modal-photo-cell-post{
    width: 960px;
    height: 750px;
    position: relative;   
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;   
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

.modal-banner1{
    position: absolute;
    z-index: 0;
    top:100px;
    left: 15px;
    width: 290px;
    height: auto;
    opacity: 0;  
}

.modal-banner1-post{
    position: absolute;
    z-index: 0;
    top: 300px;
    left: 45px;
    width: 870px;
    height: auto;
    opacity: 0.1;  
}

#pdfModal .modal-banner2 {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: auto;
    visibility: visible;
}

#publishModal .modal-banner2{
    position: absolute;
    z-index: 0;
    bottom:0;
    left: 0;
    width: 440px;
    height: auto;
    visibility: visible;
}

.modal-banner2-post{
    position: absolute;
    z-index: 0;
    bottom:0;
    left: 0;
    width: 960px;
    height: auto;
    visibility: visible;
}
#publishModal> .modal-dialog{
    max-width: 850px;
}

.publish_image_box{    
    width: 750px;  
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.publish_image_container{
    width: 500px;
    height: 375px;
    position: relative;
   margin: 0 auto;
}
.publish_image{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.publish-icon {
    width : 20px;
}

.facebook_active{
    background-image : url('../images/publish_icon/facebook_active.png');
    background-size: 150px 150px;
    width : 200px;
    height : 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook_deactive{
    background-image : url('../images/publish_icon/facebook_deactive.png');
    background-size: 150px 150px;
    width : 200px;
    height : 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.maquinaria_active {
    background-image: url(../images/publish_icon/maquinaria_active.png);
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.maquinaria_deactive{
    background-image : url('../images/publish_icon/maquinaria_deactive.png');
    background-size: 30px 30px;
    width : 45px;
    height : 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.publish_button {
    width : 200px;
    height: 200px;
    margin: 20px;
}

.publishModal-banner1{
    position: absolute;
    z-index: 0;
    top:150px;    
    left: 40px;
    width : 420px;   
    height: auto;
    opacity: 0.3;
    visibility: visible;
}

.publishModal-banner2{
    position: absolute;
    z-index: 0;
    bottom:0;    
    left: 0;
    width : 500px;   
    height: auto;    
    visibility: visible;
}

.publish-content-box{
    width: 500px;
    margin: 40px auto 0 auto;
    font-family: Oswald;
    color:#333;
    font-size: 20px;
}



.pdfPage{
    width: 800px;
    height: 1131px;    
    background : white;
    margin: 10px auto;
    box-shadow: 3px 3px rgba(0,0,0, 0.5);
    border: 1px solid lightgrey;
}

.pdfPage-header{    
    height: 110px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid #424242;
    border-bottom-width: 3px;
    position: relative;
    overflow: hidden;
}

.pdf-header-logo{
    width: 300px;
    height: 108px;
    border: 0px solid #FEC629;
    border-bottom-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-header-logo img{
    width: 310x;
    height : 95px;    
}

.pdf-header-desc-box {
    width: 500px;
    height: 100%;
    border: 0px solid #FEC629;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.header-arrow {
    width: 0px;
    height: 0px;
    border: 0px solid #FEC629;
    border-top-width: 53px;
    border-bottom-width: 53px;
    border-left-width: 40px;
    border-left-color: white;
}

.pdf-header-desc-box .desc {
    background-color: #FEC629;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}

.pdf-header-desc-box .desc p {
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 500;
    color: black;
}

.pdf-header-desc-box .desc .heading {
    font-size: 25px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 4px;
}

.pdfPage-header .cross-bar {
    position: absolute;
    top: 0px;
    right: -2px;
    height: 109px;        
}

.pdfPage-header .cross-bar img {
    height: 100%;
}
.pdfPage-header .cross-bar .line1 {
    width: 20px;
    height: 100%;
    background-color: #424242;
}

.pdfPage-header .cross-bar .line2 {
    width: 100px;
    height: 100%;
    margin-left: 10px;
    background-color: #424242;
}

.pdfPage-footer{
    width: 800px;
    height: 110px;    
    padding: 25px 20px;
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color: #424242;
}

.pdfPage-footer div{
    width: 50%;
    padding: 0px 10px;
    height: 100%;
}

.pdfPage-footer .right-desc {
    border: 0px solid #FEC629;
    border-left-width: 3px;
}

.pdfPage-footer p{
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
}

.pdfPage-content{
    width: 800px;
    height: 912px;    
}

.pageCell{
    border-bottom: 3px solid #FEC629;
    width: 100%;
    height: 304px;
    padding: 35px 15px 45px 35px;
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    position: relative;
}

.pageCell .pageCell-arrow {
    position: absolute;
    border: 60px solid #FEC629;
    /* opacity: 0.5; */
    border-right-color: transparent;
    border-top-color: transparent;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}

.pdfPage-content .pageCell .modal-photo-cell {
    width: 320px !important;
    height: 224px !important;    
}

.imageCell{
    width: 320px;
    height: 224px;
    margin-right: 30px;
}

.imageCell-post{
    width: 960px;
    height: 750px;   
    /*margin-right: 30px;*/
}

.contentCell{
    width: 470px;
    height: 224px;
}

.pdf-title{
    color: black;
    font-weight: 700;
    /* line-height: 1.0; */
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 18px;
}

.pdf-location {
    font-size: 10px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}

.pdfPage-content .item-content{
    font-size: 7px;
    font-weight: 600;    
    color: black;
    display: flex;
    align-items: center;
}

.pdfPage-content .item-content .item-arrow {
    border: 2px solid #FEC629;
    width: 0px;
    height: 0px;
    margin-right: 5px;
}

.pdfPage-content .pdf-info-box {
    height: 83px;
}

.pdfPage-content .pdf-price-box {
    display: flex;
    height: 24px;
}

.pdfPage-content .pdf-total-price {
        /* font-size: 24px; */
    /* font-weight: bolder; */
    padding: 1px 5px;
    color: black;
    width: 157px;
    height: 24px;
    display: flex;
    align-items: flex-end;
    /* line-height: 24px; */
    background-color: #FEC629;
}

.pdfPage-content .pdf-price-box .pdf-total-price .price-unit {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.pdfPage-content .pdf-price-box .pdf-total-price .price {
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 5px;
}

.pdfPage-content .pdf-price-box .pdf-price-arrow {
    border: 12px solid #FEC629;
    border-right-color: #39B54A;
}

.pdfPage-content .pdf-price-box .deal_buy_type {
    background-color: #39B54A;
    width: 95px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.pdfPage-content .auction-info-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.pdfPage-content .auction-info-box .auction-arrow {
    border: 12px solid white;
    border-right-color: #1B75BC;
    border-left-width: 0px;
}

.pdfPage-content .auction-info-box .auction-name {
    background-color: #1B75BC;
    height: 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pdfPage-content .auction-info-box .auction-name img {
    width: 12px;
    margin-right: 4px;
}

.pdfPage-content .auction-info-box .auction-date {    
    background-color: black;
    height: 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
}

.pdfPage-content .auction-info-box .auctioneer-title {
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    line-height: 12px;
}

.pdfPage-content .auction-info-box .auctioneer-value {
    color: #1B75BC;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    font-style: italic;
    text-decoration: underline;
}

#publishModal .pdf-price-to-bet-box{
    margin-left: 20px;
    width: 105px;
    background: red;
    height: 30px;   
    padding: 2px 4px;
}

#pdfModal .pdf-price-to-bet-box {
    margin-left: 30px;
    width: 120px;
    background: red;
    height: 30px;
    padding: 2px 4px;
}

.pdf-label1{
    font-size: 8px;
    font-weight: bolder;
    padding-left: 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    width:250px;
    height: 13px;    
    line-height: 13px;
    color: #134a88;  
    /* added by UJ */
    white-space: nowrap;   
}

.pdf-label2{
    font-size: 7px;
    font-weight: 200;
    padding-left: 0;
    text-transform: uppercase; 
    line-height: 7px;
    color: white;
}
.pdf-pricetobet{
    color: white;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
}

#publishModal .pdf-auctioneer-box{
    width: 190px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border : 3px solid #134a88;
    border-left: none;
    padding-top : 3px;
}
#pdfModal .pdf-auctioneer-box {
    width: 220px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border: 3px solid #134a88;
    border-left: none;
    padding-top: 3px;
}
.pdf-auctioneer-icon{
    width: 35px;
    height:35px;
    margin-right: 10px;
}
.pdf-auctioneer-content{
    width: 140px;
 }
.pdf-label3{
    font-size: 10px;
    font-weight: 600;
    line-height: 1.0;
    text-transform: uppercase;
    color: #787878;
    
}
.pdf-auctioneer-name{
    color: #f5862c;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;   
    text-transform: uppercase;
}
#publishModal .pdf-auction-date-box{
   margin-left:22px;
   display: inline-block;
}

#pdfModal .pdf-auction-date-box {
    margin-left: 30px;
    display: inline-block;
}
.pdf-label4{
    display: inline-block;
    padding: 1px 3px;   
    background-color:#f5862c; 
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px; 
    color: white; 
    font-weight: inherit;
}
.pdf-auction-date{
    color: #134a88;
    font-weight: bolder;
    font-size: 13px;
    line-height: 15px;
    height: 15px;
    padding-left: 5px;
}

.pdf-description-box{
    width: 100%;   
    margin-top: 8px;
    position: relative;
}

.pdf-description-box .pdf-description-arrow {
    position: absolute;
    border: 8px solid white;
    top: 6px;
    right: 0px;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.pdf-label5{
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
    /* text-transform: uppercase; */
    padding: 3px;
    background-color: #424242;
    color: white;
    margin-bottom: 0;
    font-weight: bold;
}

.pdf-description-content-box{
    width: 100%;
    height: 70px;
    border: 2px solid #424242;
    border-right-width: 0px;
    border-bottom-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 4px 10px;
    flex-wrap: wrap;
}
.pdf-description-item{
    display: inline-block;
    margin-right: 20px;
    height: 14px;
}

.publish-title{
    color:#333;
    font-weight: bolder;
    margin-bottom: 30px;   
    text-transform: uppercase;
    font-size: 24px;
}
.publish-title:focus{
    outline: none;
}

.publish-label{    
    font-size: 18px;
    margin-bottom: 18px;
}

.publish-total-price{    
    margin-bottom: 30px;  
    font-size: 24px; 
    font-weight: bolder;
}

.publish-total-price:focus{    
    outline: none;
}

.publish-description-content-box{
    width: 100%;       
    padding: 20px 10px;    
    height: 350px;   
    border: 1px solid #d8d8d8;
    overflow: hidden;
}
.publish-description-content-box:focus{
    outline: none;
}

.loading-box{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.3);
    justify-content: center;
    align-items: center;
}



#pdf-loading{
    width: 50px;
    height: 50px;
}

.selected-label{
    color: rgb(165,168, 173);
    font-size: 16px;
    font-weight: 500;
}

.socket-loading-box{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.5);
    justify-content: center;
    align-items: flex-start; 
}

.socket-loading-btn{
    display: inline-block;   
    height: 50px;
    background:#732626;
    border-radius: 25px;
    padding: 0 25px;
    cursor: pointer;  
    margin-top: 150px;
}

.socket-loading-btn img{
    margin-right:  15px;
    width: 30px;
    height: 30px;
}
#poster{
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    display: inline-block;
}

button:disabled{
    opacity: 0.4;
    cursor: no-drop;
}



#media-content{
    display: none;
}

.progress-box-layer{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.3);
    justify-content: center;
    align-items: center;
}

#progress-box{
    width:400px;
    height: 30px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    position: relative;
}
#progress-bar{
    height: 24px;
    background: #5c8ed4;
}
#progress-value{
    position: absolute;
    top: 5px;
    line-height: 20px;
    font-size: 14px;
    right: 190px;
    color:white;
}
  
  
  
  
  
  
  
  
  
  /* 
  
  */
  
  #media-content{   
      width: 100%; 
      margin-top: 14px;
      transition: all 0.3s ease-in-out 0s;
      padding: 0px 10px;   
  }
  
  .control-header{
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
  }
  
  #backBtn{
      display: inline-block;
      cursor: pointer;
  }
  
  .picture-control-main-box{    
      height: 100%;
      display:flex;
      width: 945px;
      justify-content: flex-start;
      align-content: flex-start; 
      align-items: flex-start;
      flex-wrap: wrap;
  }
  
  
  .upload-panel-section-form{
      position: absolute;
      top: 10px;
      right: 10px;
  }
  #video-upload-panel-section-form{
     position: absolute;
     top: 10px;
     right: 10px;
  }
  
  #editPictureThumb{
     width: 170px;
     height: 121px;
     cursor: pointer;
     margin-bottom: 15px;
  }
  
  
  
  #mediaControlModal> .modal-dialog{
      width: 1200px;
      max-width: 1200px;
  }
  
  
  #picture-withicon, #video-withicon {
  height: 500px; 
  }
  
  .picture-control-panel{
      width: 100%;
      height: 600px;   
      margin: 20px auto;     
      overflow: hidden;    
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; 
      position: relative;   
    }
    .video-control-panel{
      width: 100%;
      height: 600px;   
      margin: 20px auto;     
      overflow: hidden;    
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
  
  .slider-picture-control-item{
     width: 220px;
     height: 165px;
     margin: 8px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     position: relative;     
     overflow: hidden;
     background-size: 100% 100%;
     background-position: center center; 
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }
  .slider-picture-control-item-image{
      height: 100%;
      width: auto;
  }
  .primary-upload-box{
      width: 220px;
      height: 165px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      cursor: pointer;
  }
  .primary-upload-box>i{
      font-size: 20px;
      color: white;
  }
  
  .picture-item-check-box{
     width: 24px;
     height:24px;
     border-radius: 12px;
     position: absolute;
    right:8px;
    top: 8px;
    background: white;   
    justify-content: center;
    align-items: center;
    display: none;
  }
  .picture-item-check-box>i{
    font-size: 18px;    
    color: black; 
  }
  .message-box{
      display:flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
  }
  .image-wrapper-box{
      width:380px;
      height: 285px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center center;    
      margin: 10px ;
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }

  .light-link{
      height: 100%;
      width: auto;
  }
  .image-wrapper-box-image{
      height:100%;
      width: auto;      
  }
  
  #lightgallery{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  
  .lightGallery img{
    opacity: 1.0 !important; 
  }
  
  button:disabled{
    cursor: no-drop;
  }
  
  .video-gallery-box-body{
    display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 50px;
  }
  

  
  #pdf-loading{
    width: 50px;
    height: 50px;
  }

  #banner-picture-making-panel{
    position: fixed;    
    top:1500px;
    left: 0;   
  }
  

  .banner-image-container{
      margin: 5px;
      position: relative;
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center center;   
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }

  .banner-image-banner1{
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .banner-image-banner2{
    width: 700px;
    height: auto;
    position: absolute;
    left:  50px;
    top: 240px;
    opacity: 0;
  }

  .custom-dropdown-menu{
      display: inline-block;
      list-style: none;
      margin-right: 20px;
  }

  .dropdown-menu{
      background-color: rgb(54, 58, 62);
      color:  rgb(165, 168, 173);
      width: 200px;
      padding: .5rem;
  }
  .dropdown-menu>li{
     cursor: pointer;
     color:  rgb(165, 168, 173);
     margin: 5px 0;
     font-size: 13px;
  }
  .dropdown-menu>li:hover{
      color: white;
  }

  .first-pdf-page-gallery-container{
      display: flex;     
      width: 700px;
      /* height: 630px; */
      margin: 10px auto;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
  }
  .rest-pdf-page-gallery-container{
        display: flex;
        width: 700px;
        /* height: 930px; */
        margin: 10px auto;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
  }
  .galleryCell{
      width:320px;
      height: 250px;
      margin-top: 50px;
  }

  input#allCheck{
      width:16px;
      height:16px;
  }
  input.checkbox-tick{
    width:16px;
    height:16px;
  }

  /*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    }
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 19px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after{
    background: #17C2D7;
    color: white;
}

.contact {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin: 5px;
}

.bottom-button {
    margin-top: 3px;
}

.btn-action {
    margin : 2px;
    max-width : 36px;
}

div.dataTables_wrapper div.dataTables_length select {
    width : 90px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

input#title-box {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    transition: border-color .15s;
}

.item-text {
    padding: 10px;
}

.share-item {
    width: 800px;
    margin: auto;
}

.preview-content .modal-body {
    padding: 0rem 1rem 1rem 1rem;
}

.table-publish {
    padding: 5px 0;
    position: relative;
}

.table-publish .pdfPage {
    width: 800px;
    height: auto;
    background: white;
    margin: 10px auto;
    box-shadow: 3px 3px rgba(0,0,0, 0.5);
    
}

.preview-content .modal-header, .preview-content .modal-footer {
    border-color: #606060;
    justify-content: left;
}

textarea#des-box {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    min-height: 100px;
    transition: border-color .15s;
}

.preview-content .modal-content {
    background: rgb(47, 51, 56);
    border-radius: 5px;
    width: 850px;
    max-width: 850px;
}

.modal-dialog.preview-content .modal-content .modal-header, .modal-dialog.preview-content .modal-content .modal-footer {
    border-color: #606060;
    justify-content: center;
}

#btnPublishToMaqui {
    margin: 0px 2px 5px 2px;
    border-radius: 5px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-whatsapp {
    background: #189d0e;
    color: white;
}

.fa-google {
    background: #e24527;
    color: white;
}

.share-btn {
    padding: 10px;
    font-size: 25px;
    width: 42px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px 5px 2px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
a.share-btn:hover {
    color: white;
    border: 1px solid white;
}

.preview-content .pdf-header-icon-box {
    margin-right: 10px;
}

.preview-content .pdfPage-content {
    width: 800px;
    height: auto;    
}

.generate-link-part {
    padding: 1rem 1.5rem;
    border-top: 1px solid #606060;
    display: flex;
    align-items: center;
}

input#target-box {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 200px;
    transition: border-color .15s;
}

input#url-box {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem 0 0 .25rem;
    width: 365px;
    transition: border-color .15s;
}

button#generateLinkBbt {
    width: 160px;
    margin: 0px 15px;
    height: 35px;
    border: 1px solid #77797c;
}

button#generateLinkBbt:hover {
    color: #77797c;
    border-color: #ced4da;
}
.generate-link-part .input-group-append {
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    cursor: pointer;
}

.generate-link-part .input-group {
    width: auto;
}

.contact-link {
    margin-left: 10px;
}
.modal, .modal-open {
    overflow-x: auto !important;
}

/* #left-sidebar .sidebar-logo-title {
    display: none!important;
} */

@media screen and (max-width : 1200px) {
    .offcanvas-active #left-sidebar .sidebar-logo-title {
        display: inline-block!important;
    }

    #left-sidebar .sidebar-logo-title {
        display: none!important;
    }
}

@media screen and (max-width: 1823px) {
    .truck-table-container {
        width: 1550px!important;
    }
}

.document {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.document .action {
    margin-left: 8px;
}

