.pdfPage-header{
    width: 790px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;    
    transform: rotate(360deg); 
}

.header-title {
    font-size : 50px;
    font-weight: bolder;
    background-color: red;
    color : white;    
    padding : 0px 8px;
    line-height: 60px;
}

.pdfPage-content{
    width: 760px;
    height: 1050px;
    margin-left : 15px;
    border : 4px red solid;
    margin-top : -30px;
    padding-top : 30px;
}

.contentCell{
    position: relative;
}

.pageCell{
    border-top-width: 0px;
    height : 324px;    
}

.pdf-title{    
    height:30px;
    font-size: 25px;
}

.pdf-total-price{
    font-size: 21px;
    height : 28px;
    background-color: red;
}

.pdf-description-box{
    margin-top: 16px;
}

.pdf-description-content-box{
    width: 100%;
}

.sold-mark {
    position: absolute;
    top: -13px;
    right: 20px;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 0px 8px;
}

.mark-english {
    font-size: 40px;
    height: 44px;
    line-height: 40px;
}

.mark-spanish {
    font-size: 24px;
    line-height: 24px;
    height: 27px;
}