input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

 
input[type=number]{ 
-moz-appearance: textfield; 
}
.auction-search-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}


.endDate-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}

.lift-capacity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.meter-filter{
    display: none;
}
.meter-filter.visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.length-filter{
    display: none;
}
.length-filter.visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

#auction-management-table{
    width: 100%;
}

#auction-management-table tbody button{
    margin: 2px;
}
#pdfModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}
#auction-table{ 
    padding:   0px 5px;
    background: white;
    margin: 0 auto;
}
#auction-table > thead{
    display: none;
}

#auction-management-table thead tr th{
    text-align: center;
}

#auction-table>tbody tr td{
    color: white;
    /* background: #fff; */
}
.item-index{
    font-size: 13px;
    color: #444040;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.item-info-index{
    font-size: 14px;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.item-content{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777777;
}

.auction-table tr td{
  white-space: normal;
}

.item-info-content{
    font-size: 14px;
    font-weight: 800;
    color: white;
}

textarea.item-info-content{
    font-size : 14px;
    font-weight: 800;
    color : white;
    background-color: rgb(40, 43, 47);
    width: 350px;
    border-width: 0px;
    height: 70px;
}

.table-pdf{  
    padding: 5px 0;  
    position : relative;
}
#auction-table_info{
  padding-top: 0;
}

.detail-box{
    display: flex;
    padding: 15px 15px;
    justify-content: space-around;
    align-items: flex-start;
}
.detail-photo{
    width: 250px;
    height: 170px;    
}
.detail-info-box{
    width: 300px; 
}
.edit-photo{
    width: 250px;
    height: 170px;    
}
.edit-info-box{
    width: 450px; 
}

#detailModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}

#editModal> .modal-dialog{
    width: 850px;
    max-width: 850px;
}
.item-edit-item-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.item-edit-index{
    font-size: 13px;
    color: lightgray;
}

.item-edit-item-box input {
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    color: rgb(119, 121, 124);
    border-color: rgb(57, 61, 66);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 250px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.item-edit-item-box div {
    padding: .375rem .75em;
    width: 250px;
  
}
.item-edit-item-box textarea{
    height: 100px;
    box-shadow: none;
    background-color: lightgray;
    font-size: 14px;
    color: black;
    border-color: rgb(57, 61, 66);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    width: 250px;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table-responsive{
    position: relative;
}
#loading{
    width: 50px;
    height: 50px;
}

.photo-cell{
    width: 180px;
    height: 120px;
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center; 
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten; 
}
.auction-photo{
    height: 100%;
    width: auto;
}

.ribbon1{
    position: absolute;
    z-index: 0;
    top:0;
    left: 0;
    width: 42x;
    height: 60px;
    visibility: hidden;
}

.ribbon2{
    position: absolute;
    z-index: 0;
    top:0;
    right: 1px;
    width: 120px;
    height: 38px;
    visibility: hidden;
}

.modal-photo-cell{
    width: 320px;
    height: 250px;
    position: relative;   
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;   
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
}

.modal-banner1{
    position: absolute;
    z-index: 0;
    top:100px;
    left: 15px;
    width: 290px;
    height: auto;
    opacity: 0;  
}

.modal-banner2{
    position: absolute;
    z-index: 0;
    bottom:0;
    left: 0;
    width: 320px;
    height: auto;
    visibility: visible;
}
#publishModal> .modal-dialog{
    max-width: 800px;
}

.publish_image_box{
    background-color: white;
    width: 750px;  
    margin: 20px auto;
    padding: 70px 0;
}
.publish_image_container{
    width: 500px;
    height: 375px;
    position: relative;
   margin: 0 auto;
}
.publish_image{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.publishModal-banner1{
    position: absolute;
    z-index: 0;
    top:150px;    
    left: 40px;
    width : 420px;   
    height: auto;
    opacity: 0.3;
    visibility: visible;
}

.publishModal-banner2{
    position: absolute;
    z-index: 0;
    bottom:0;    
    left: 0;
    width : 500px;   
    height: auto;    
    visibility: visible;
}

.publish-content-box{
    width: 500px;
    margin: 40px auto 0 auto;
    font-family: Oswald;
    color:#333;
    font-size: 20px;
}

.publish-icon {
    width : 20px;
}



.pdfPage{
    width: 800px;
    height: 1131px;
    padding:30px 5px 20px 5px;
    background : white;
    margin: 10px auto;
    box-shadow: 3px 3px rgba(0,0,0, 0.5);
}

.pdfPage-header{
    width: 790px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Oswald;    
}

.pdfPage-content{
    width: 760px;
    height: 930px;
    margin-left : 15px;
}
.pdfPage-footer{
    width: 760px;
    height: 60px;
    border-top: 6px solid #134a88;      
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left : 15px;
}
.pdfPage-footer>img{
  width: 600px;
  height: auto;
  opacity: 0.7;
}
.pdf-header-logo{
    display: inline-block;
}
.pdf-header-logo>img{
    width: 310x;
    height : 74px;    
}

.pdf-header-subject{
    display: inline-block;
}
.pdf-header-subject>img{
    width: 200px;
    height: 40px;
}

.pdf-header-icon-box{
    width: 465px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.pdf-header-icon-box>img{
    width: 75px;
    height: 75px;
}

.pageCell{
    border-top: 6px solid #134a88;
    width: 100%;
    height: 300px;
    margin: 8px 0;
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Oswald;
}

.imageCell{
    width: 320px;
    height: 250px;   
    margin-right: 30px;
}
.imageCell-post{
    width: 960px;
    height: 750px;   
    margin-right: 30px;
}
.contentCell{
    width:470px;
    height: 250px;    
}

.pdf-title{
    color:#f5862c;
    font-weight: 700;
    height:35px;
    line-height: 1.0;
    margin-bottom: 0;   
    text-transform: uppercase;
    font-size: 30px;
}
.pdf-total-price{
    font-size: 24px;
    font-weight: bolder;
    padding: 1px 20px;
    color: white;
    width:220px;
    height: 30px;
    line-height: 24px;
    background-color: #134a88;
  
}
.pdf-price-to-bet-box{
    margin-left: 30px;
    width: 120px;
    background: red;
    height: 30px;   
    padding: 2px 4px;
}

.pdf-label1{
    font-size: 8px;
    font-weight: bolder;
    padding-left: 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    width:250px;
    height: 13px;    
    line-height: 13px;
    color: #134a88;  
    /* added by UJ */
    white-space: nowrap;   
}

.pdf-label2{
    font-size: 7px;
    font-weight: 200;
    padding-left: 0;
    text-transform: uppercase; 
    line-height: 7px;
    color: white;
}
.pdf-pricetobet{
    color: white;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
}

.pdf-auctioneer-box{
    width: 220px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border : 3px solid #134a88;
    border-left: none;
    padding-top : 3px;
}
.pdf-auctioneer-icon{
    width: 35px;
    height:35px;
    margin-right: 10px;
}
.pdf-auctioneer-content{
    width: 140px;
 }
.pdf-label3{
    font-size: 10px;
    font-weight: 600;
    line-height: 1.0;
    text-transform: uppercase;
    color: #787878;
    
}
.pdf-auctioneer-name{
    color: #f5862c;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;   
    text-transform: uppercase;
}
.pdf-auction-date-box{
   margin-left:30px;
   display: inline-block;
}
.pdf-label4{
    display: inline-block;
    padding: 1px 3px;   
    background-color:#f5862c; 
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px; 
    color: white; 
    font-weight: inherit;
}
.pdf-auction-date{
    color: #134a88;
    font-weight: bolder;
    font-size: 13px;
    line-height: 15px;
    height: 15px;
    padding-left: 5px;
}

.pdf-description-box{
    width: 100%;   
    margin-top: 8px;
}
.pdf-label5{
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 3px 15px 3px 15px;
    background-color: #f5862c;
    color: white; 
    margin-bottom: 0;  
}

.pdf-description-content-box{
    width: 105%;
    height: 90px; 
    border : 3px solid #134A88; 
    border-right-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 4px 20px;
    flex-wrap: wrap;
}
.pdf-description-item{
    display: inline-block;
    margin-right: 20px;
    height: 17px;   
}

.publish-title{
    color:#333;
    font-weight: bolder;
    margin-bottom: 30px;   
    text-transform: uppercase;
    font-size: 24px;
}
.publish-title:focus{
    outline: none;
}

.publish-label{    
    font-size: 18px;
    margin-bottom: 18px;
}

.publish-total-price{    
    margin-bottom: 30px;  
    font-size: 24px; 
    font-weight: bolder;
}

.publish-total-price:focus{    
    outline: none;
}

.publish-description-content-box{
    width: 100%;       
    padding: 20px 10px;    
    height: 350px;   
    border: 1px solid #d8d8d8;
    overflow: hidden;
}
.publish-description-content-box:focus{
    outline: none;
}

.loading-box{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.3);
    justify-content: center;
    align-items: center;
}



#pdf-loading{
    width: 50px;
    height: 50px;
}

.selected-label{
    color: rgb(165,168, 173);
    font-size: 16px;
    font-weight: 500;
}

.socket-loading-box{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.5);
    justify-content: center;
    align-items: flex-start; 
}

.socket-loading-btn{
    display: inline-block;   
    height: 50px;
    background:#732626;
    border-radius: 25px;
    padding: 0 25px;
    cursor: pointer;  
    margin-top: 150px;
}

.socket-loading-btn img{
    margin-right:  15px;
    width: 30px;
    height: 30px;
}
#poster{
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    display: inline-block;
}

button:disabled{
    opacity: 0.4;
    cursor: no-drop;
}



#media-content{
    display: none;
}

.progress-box-layer{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0,  0, 0.3);
    justify-content: center;
    align-items: center;
}

#progress-box{
    width:400px;
    height: 30px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    position: relative;
}
#progress-bar{
    height: 24px;
    background: #5c8ed4;
}
#progress-value{
    position: absolute;
    top: 5px;
    line-height: 20px;
    font-size: 14px;
    right: 190px;
    color:white;
}
  
  
  
  
  
  
  
  
  
  /* 
  
  */
  
  #media-content{   
      width: 100%; 
      margin-top: 14px;
      transition: all 0.3s ease-in-out 0s;
      padding: 0px 10px;   
  }
  
  .control-header{
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
  }
  
  #backBtn{
      display: inline-block;
      cursor: pointer;
  }
  
  .picture-control-main-box{    
      height: 100%;
      display:flex;
      width: 945px;
      justify-content: flex-start;
      align-content: flex-start; 
      align-items: flex-start;
      flex-wrap: wrap;
  }
  
  
  .upload-panel-section-form{
      position: absolute;
      top: 10px;
      right: 10px;
  }
  #video-upload-panel-section-form{
     position: absolute;
     top: 10px;
     right: 10px;
  }
  
  #editPictureThumb{
     width: 170px;
     height: 121px;
     cursor: pointer;
     margin-bottom: 15px;
  }
  
  
  
  #mediaControlModal> .modal-dialog{
      width: 1200px;
      max-width: 1200px;
  }
  
  
  #picture-withicon, #video-withicon {
  height: 500px; 
  }
  
  .picture-control-panel{
      width: 100%;
      height: 600px;   
      margin: 20px auto;     
      overflow: hidden;    
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; 
      position: relative;   
    }
    .video-control-panel{
      width: 100%;
      height: 600px;   
      margin: 20px auto;     
      overflow: hidden;    
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
  
  .slider-picture-control-item{
     width: 220px;
     height: 165px;
     margin: 8px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     position: relative;     
     overflow: hidden;
     background-size: 100% 100%;
     background-position: center center; 
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }
  .slider-picture-control-item-image{
      height: 100%;
      width: auto;
  }
  .primary-upload-box{
      width: 220px;
      height: 165px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      cursor: pointer;
  }
  .primary-upload-box>i{
      font-size: 20px;
      color: white;
  }
  
  .picture-item-check-box{
     width: 24px;
     height:24px;
     border-radius: 12px;
     position: absolute;
    right:8px;
    top: 8px;
    background: white;   
    justify-content: center;
    align-items: center;
    display: none;
  }
  .picture-item-check-box>i{
    font-size: 18px;    
    color: black; 
  }
  .message-box{
      display:flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
  }
  .image-wrapper-box{
      width:380px;
      height: 285px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center center;    
      margin: 10px ;
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }
  .light-link{
      width: auto;
      height: 100%;
  }
  .image-wrapper-box-image{
      height:100%;
      width: auto;
  }
  
  #lightgallery{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  
  .lightGallery img{
    opacity: 1.0 !important; 
  }
  
  button:disabled{
    cursor: no-drop;
  }
  
  .video-gallery-box-body{
    display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 50px;
  }
  

  
  #pdf-loading{
    width: 50px;
    height: 50px;
  }

  #banner-picture-making-panel{
    position: fixed;    
    top:1500px;
    left: 0;   
  }
  

  .banner-image-container{
      margin: 5px;
      position: relative;
      overflow: hidden;
      background-size: 100% 100%;
      background-position: center center;   
     background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
  }

  .banner-image-banner1{
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .banner-image-banner2{
    width: 700px;
    height: auto;
    position: absolute;
    left:  50px;
    top: 240px;
    opacity: 0;
  }

  .custom-dropdown-menu{
      display: inline-block;
      list-style: none;
      margin-right: 20px;
  }

  .dropdown-menu{
      background-color: rgb(54, 58, 62);
      color:  rgb(165, 168, 173);
      width: 200px;
      padding: .5rem;
  }
  .dropdown-menu>li{
     cursor: pointer;
     color:  rgb(165, 168, 173);
     margin: 5px 0;
     font-size: 13px;
  }
  .dropdown-menu>li:hover{
      color: white;
  }

  .first-pdf-page-gallery-container{
    display: flex;     
    width: 700px;
    height: 630px;
    margin: 10px auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.rest-pdf-page-gallery-container{
      display: flex;
      width: 700px;
      height: 930px;
      margin: 10px auto;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
}
.galleryCell{
    width:320px;
    height: 250px;
    margin-top: 30px;
}


#TVPanel{
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #42a2ce;
  transition : all ease-in-out 0.5s;
  padding: 30px 40px;
}
#back-button{
    width: 75px;
    height: 75px;
    cursor: pointer;
}

#TVMainPanel{  
    height: calc(100% - 100px);  
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

#detailTvMainPanel{
   width: 30%;
   min-width: 450px;
   padding-right: 20px;
}
#imageTvMainPanel-container{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#imageTvMainPanel{
    width: 90%;
    position: relative;   
    padding-top: 67.5%;   
    overflow: hidden; 
    
}
.imageTvSlider-box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.flex-control-nav{
    display: none;
}
.flexslider{
    height: 100%;
}
.flexslider .slides{
    display: block;
    height: 100%
}
.flexslider .slides > li{
    position: relative;
    width: 100%; 
    height: 100%;
}


.flexslider .slides img.main-tv-mode-image{
    width: 100%; 
    object-fit: cover;
    height: 100%;  
}

.flex-caption{
    width: 100%;
    position: absolute;
    left: 0;
    bottom : 0;
}
.flex-viewport{
    width: 100%;
    height: 100% !important; 
}
.tvmode-title{
    font-family: Geogrotesque-Semibold, Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    text-shadow: 0 1px 0 #2F4C63;
    color: #fff;
    font-size: 35px;
}

.tvmode-item{
    margin: 0 ;
    font: normal 20px Geogrotesque-regular, Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px #555;
    color: #fff;
}

input#allCheck{
    width:16px;
    height:16px;
}
input.checkbox-tick{
  width:16px;
  height:16px;
}

.bottom-button {
    margin-top: 3px;
}

.btn-action {
    margin : 2px;
    max-width : 36px;
}

@media screen and (max-width : 1200px) {
    .offcanvas-active #left-sidebar .sidebar-logo-title {
        display: inline-block!important;
    }

    #left-sidebar .sidebar-logo-title {
        display: none!important;
    }
}

@media screen and (max-width: 1823px) {
    .truck-table-container {
        width: 1550px!important;
    }
}